.normal-button {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: -3px 3px 5px hsl(0, 4%, 59%);
  background-color: black;
  margin-right: 10px;
}

input[type=checkbox] {
  transform: scale(2.5);
  background-color: black;
}

.body {
  font-size: 20px;
  padding: 10px;
  display: flex;
  position: relative;
}
.body .grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 80% 20%;
}
.body .grid-container .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.body .grid-container .header .container-back-add {
  display: flex;
}
.body .grid-container .header .container-back-add .button-back {
  border-radius: 5px;
  border: none;
  background-color: grey;
  color: white;
  width: 90px;
  margin-right: 10px;
  font-size: 20px;
}
.body .grid-container .header .container-back-add .button-add {
  border-radius: 5px;
  border: none;
  background-color: #29776d;
  color: white;
  width: 120px;
  margin-right: 10px;
  font-size: 20px;
}
.body .grid-container .header .container-back-add .button-clean {
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  width: 120px;
  margin-right: 10px;
  font-size: 20px;
}
.body .grid-container .header .calculator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .grid-container .header .calculator .less {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: -3px 3px 5px #9b9292;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: bold;
}
.body .grid-container .header .calculator .number {
  font-size: 40px;
  font-weight: bold;
}
.body .grid-container .header .calculator .sum {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: -3px 3px 5px #9b9292;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: bold;
}
.body .grid-container .title-conos {
  color: #16453f;
  font-size: 20px;
  font-weight: bold;
}
.body .grid-container .check-conos {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body .grid-container .check-conos .container-check {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.body .grid-container .check-conos .container-check .text-check-conos {
  padding-left: 10px;
}
.body .grid-container .check-toopings {
  font-weight: bold;
  color: #16453f;
}
.body .grid-container .mySwiper .swiper-wrapper .swiper-slide, .body .grid-container .mySwiper .swiper-wrapper .asd {
  color: white;
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  box-shadow: -3px 3px 5px grey;
  margin-bottom: -1px;
  border-radius: 8px 8px 0 0;
  margin-right: 10px;
  text-decoration: none;
}
.body .grid-container .mySwiper .swiper-wrapper .swiper-slide:hover, .body .grid-container .mySwiper .swiper-wrapper .asd:hover {
  background-color: grey;
}
.body .grid-container .mySwiper .swiper-wrapper .swiper-slide .a-topping, .body .grid-container .mySwiper .swiper-wrapper .asd .a-topping {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.body .grid-container .mySwiper .swiper-button-prev {
  font-weight: bold;
  --swiper-navigation-size: 30px;
  color: black;
  border-radius: 5px;
}
.body .grid-container .mySwiper .swiper-button-next {
  font-weight: bold;
  --swiper-navigation-size: 30px;
  color: black;
  border-radius: 5px;
}
.body .grid-container .js-burger-comment {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: -3px 3px 5px #9b9292;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}
.body .grid-container .js-nav-comment {
  display: none;
}
.body .grid-container .js-nav-comment.open {
  display: inline-flex;
}
.body .grid-container .js-nav-comment .text-area-comment {
  margin-top: 10px;
}
.body .grid-container .container-menu {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.body .grid-container .container-menu .button-burger {
  display: flex;
  background-color: black;
  margin-right: 1rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  height: 40px;
  width: 40px;
}
.body .grid-container .container-menu .button-burger .fa-bars {
  color: white;
}
.body .grid-container .container-menu .js-nav {
  display: none;
  border-radius: 5px;
  min-width: 747px;
  min-height: 320px;
  background-color: rgb(234, 232, 232);
  margin-top: 10px;
}
.body .grid-container .container-menu .js-nav.open {
  display: inline-flex;
  display: grid;
}
.body .grid-container .container-menu .js-nav .button-detail {
  background-color: #29776d;
  border-radius: 5px;
  border: none;
  display: flex !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.body .grid-container .container-menu .js-nav .js-menu {
  display: grid;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
  grid-template-rows: 27% 36% 36%;
}
.body .grid-container .container-menu .js-nav .js-menu .container-detail {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
}
.body .grid-container .container-menu .js-nav .js-menu .container-detail .text-container-detail {
  overflow-wrap: break-word;
}
.body .grid-container .container-menu .js-nav .js-menu .container-detail .cancel-button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -3px 3px 5px hsl(0, 4%, 59%);
}
.body .grid-container .container-menu .js-nav .js-menu .price {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

/*# sourceMappingURL=index.css.map */
